<h1>List of Patients</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Lastname</th>
			<th>Firstanme</th>
			<th>MI</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<% @patient.each do |patient| %>
		<tr>
			<td><%= patient.id %></td>
			<td><%= link_to patient.lname, patient %></td>
			<td><%= patient.fname %></td>
			<td><%= patient.mi %></td>
			<td><%= patient.address %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />
<br />

<%= link_to "Add Patient", new_patient_path %>


